
#popup1 {
	z-index: 1000;
	border: 0;
	position: absolute;
	-webkit-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	-moz-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
}
#popup2 {
	z-index: 1000;
	border: 0;
	position: absolute;
	-webkit-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	-moz-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
}
#popup3 {
	z-index: 1000;
	border: 0;
	position: absolute;
	-webkit-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	-moz-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
}
#popup4 {
	z-index: 1000;
	border: 0;
	position: absolute;
	-webkit-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	-moz-box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
	box-shadow: -2px 1px 25px -5px rgba(12,91,227,1);
}

#popupLg1 {
	border: 0;
	position: absolute;
	z-index: 5001;
	top: 30%;
	width: 100%;
}


#popupLg2 {
	position: absolute;
	z-index: 5001;
	top: 30%;
	width: 100%;
}

#popupLg3 {
	position: absolute;
	z-index: 5001;
	top: 30%;
	width: 100%;
}

#popupLg4 {
	position: absolute;
	z-index: 5001;
	top: 30%;
	width: 100%;
}
