#hotspot {
    width: 3em;
    height: 4em;
    /*padding-left: 2em;*/
    padding: 0;
	border: none;
/*background: none;*/
    background: transparent url(../images/hotspot.gif) .5em 50% no-repeat;
    z-index: 1000;
    position: absolute;
    left: 38%;
}

input#pop-up1    {
	background:url(../images/popup1.jpg);
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	border: 0;
	position: absolute;
}
input#pop-up2    {
	background:url(../images/popup2.jpg);
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	border: 0;
	position: absolute;
}
input#pop-up3    {
	background:url(../images/popup3.jpg);
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	border: 0;
	position: absolute;
}
input#pop-up4    {
	background:url(../images/popup4.jpg);
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	border: 0;
	position: absolute;
}

.enlarge:visited {
	transform:scale(2,2);
	transform-origin:0 0;
}