#text2 {
  /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 1%;
   left: 8%;
   width: 70%; 
}

#text2sub {
  /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 6%;
   left: 8%;
   width: 70%; 
}

#text3 {
   /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 34%;
   left: 15%; 
   width: 70%; 
}

#text3sub {
   /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 40%; 
   left: 15%; 
   width: 70%; 
}

#text4 {
   /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 68%; 
   left: 15%; 
   width: 70%; 
}

#text4sub {
   /*text-align: center;*/
   z-index:100;
   position: absolute; 
   top: 76%;
   left: 15%; 
   width: 70%; 
}